graph_definition/cache/
graph_definition/funcs/__pycache__/

graph_definition/gis/data/street_graph/

# ignore future changes to these files
graph_definition/gis/test_scn.qgz
graph_definition/Layer_Concepts.xlsx

# ignore vscode
.DS_Store

#ignore cpython randomness
**/*cpython*.pyc

#cache
**/cache/
**/__pycache__/
