graph_definition/cache/
graph_definition/funcs/__pycache__/

# don't track csv flight intentions
*Flight*.csv
#graph_definition/gis/data/street_graph/

# ignore future changes to these files
graph_definition/gis/test_scn.qgz
graph_definition/Layer_Concepts.xlsx

# ignore vscode
.DS_Store

#ignore cpython randomness
**/*cpython*.pyc

#cache
**/cache/
**/__pycache__/
*.gpkg-shm
*.gpkg-wal
*.gpkg-shm
*.gpkg-wal
graph_definition/whole_vienna/min5.txt
